<aside>
  <ul>
    <li>Drums</li>
    <li>Sounds</li>
    <li>Instruments</li>
    <li>Audio Effects</li>
    <li>MIDI Effects</li>
    <li>Max for Live</li>
    <li>Plug-Ins</li>
    <li>Clips</li>
    <li>Samples</li>
  </ul>
</aside>
<main>
<!--  <div class="column">-->
<!--    <header>-->
<!--      <div class="content">Drums</div>-->
<!--    </header>-->
<!--    <div style="background: #00bfb0" class="row active">-->
<!--            <div class="icon">-->
<!--        <svg class="icon-play"><use xlink:href="#icon-play"></use></svg>-->
<!--      </div>-->
<!--      <div class="content">Slow</div>-->
<!--    </div>-->
<!--    <div style="background: #00bfb0" class="row active">-->
<!--            <div class="icon">-->
<!--        <svg class="icon-play"><use xlink:href="#icon-play"></use></svg>-->
<!--      </div>-->
<!--      <div class="content">Slow</div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--      <div class="icon">-->
<!--        <svg class="icon-stop"><use xlink:href="#icon-stop"></use></svg>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div style="background: #22ffa6" class="row active">      <div class="icon">-->
<!--        <svg class="icon-play"><use xlink:href="#icon-play"></use></svg>-->
<!--      </div></div>-->
<!--    <div style="background: #22ffa6" class="row active">      <div class="icon">-->
<!--        <svg class="icon-play"><use xlink:href="#icon-play"></use></svg>-->
<!--      </div></div>-->
<!--    <div style="background: #22ffa6" class="row active">      <div class="icon">-->
<!--        <svg class="icon-play"><use xlink:href="#icon-play"></use></svg>-->
<!--      </div></div>-->
<!--    <div style="background: #22ffa6" class="row active">      <div class="icon">-->
<!--        <svg class="icon-play"><use xlink:href="#icon-play"></use></svg>-->
<!--      </div></div>-->
<!--    <div style="background: #00bfb0" class="row active">-->
<!--            <div class="icon">-->
<!--        <svg class="icon-play"><use xlink:href="#icon-play"></use></svg>-->
<!--      </div>-->
<!--      <div class="content">Slow</div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="column">-->
<!--    <header>-->
<!--      <div class="content">Drums</div>-->
<!--    </header>-->
<!--    <div class="row turquoise">-->
<!--      <div class="icon">-->
<!--        <svg class="icon-play"><use xlink:href="#icon-play"></use></svg>-->
<!--      </div>-->
<!--      <div class="content">Slow</div>-->
<!--    </div>-->
<!--    <div class="row turquoise">-->
<!--      <div class="icon">-->
<!--        <svg class="icon-play"><use xlink:href="#icon-play"></use></svg>-->
<!--      </div>-->
<!--      <div class="content">Slow</div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--      <div class="icon">-->
<!--        <svg class="icon-stop"><use xlink:href="#icon-stop"></use></svg>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row"></div>-->
<!--  </div>-->
<!--  <div class="column"></div>-->
<!--  <div class="column"></div>-->
<!--  <div class="column"></div>-->
<!--  <div class="column"></div>-->
<!--  <div class="column"></div>-->
<!--  <div class="column"></div>-->
<!--  <div class="column"></div>-->
<!--  <div class="column"></div>-->
<!--  <div class="column"></div>-->
  <div class="grid">
    <div class="column">
      <div class="item">1</div>
      <div class="item">2</div>
    </div>
    <div class="column">
      <div class="item">1</div>
      <div class="item">2</div>
    </div>
  </div>
</main>
